table {
  width: 100%;
}

article {
  padding: 2%;
}

.title-center {
  text-align: center;
  font-weight: bold;
}

.section-container {
  padding-left: 3%;
  padding-right: 3%;
}

th {
  text-align: center;
}

th {
  text-align: center;
  color: black;
  background: lightblue;
}
